* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  
  /* light theme */
  --bright-blue: hsl(220, 98%, 61%);
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue1: hsl(233, 11%, 84%);
  --dark-grayish-blue1: hsl(236, 9%, 61%);
  --very-dark-grayish-blue1: hsl(235, 19%, 35%);

  /* dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue2: hsl(234, 39%, 85%);
  --light-grayish-blue3: hsl(236, 33%, 92%);
  --dark-grayish-blue2: hsl(234, 11%, 52%);
  --very-dark-grayish-blue2: hsl(233, 14%, 35%);
  --very-dark-grayish-blue3: hsl(237, 14%, 26%);
}

html {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  -ms-overflow-style: none;
  scrollbar-width: none; /*seems not working*/
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}